body {
    background-color: rgb(241, 210, 255);
    color: rgb(139, 108, 148);
    font-family: 'Roboto';
    margin: 0;
    padding: 24px;
    margin: 24px;
    font-size: clamp(2vw, 2vw, 2vh);
}

a {
    padding: 1em 2em;
    background-color: blueviolet;
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: 18px;
    border-radius: 10px;
    transition: all 0.2s;
}

a:hover {
    background-color: rgb(160, 85, 230);
    transition: all 0.2s;
}